<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>iqans.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://friendsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>friendsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>friendsapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$friendsapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iqansdb1.database.windows.net,1433;Initial Catalog=iqansfriendsdb1;Persist Security Info=False;User ID=iqan;Password=Leesin#12;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:iqansdb1.database.windows.net,1433;Initial Catalog=iqansfriendsdb1;Persist Security Info=False;User ID=iqan;Password=Leesin#12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=friends;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\sqlexpress;initial catalog=friends;integrated security=True;multipleactiveresultsets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://iqans.onmicrosoft.com/WebApp-friendsapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>3b3cec0b-7582-4226-9bf7-872b30eab824</ADClientAPPID>
    <ADClientPassword>RxMbWzjCHN8in+MKPOFDLTYzt4PwjcV27gCy6990psU=</ADClientPassword>
    <ADReplyUrl>https://friendsapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>b50c56b3-c345-41a7-932d-a0f0c4cd468e</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:iqansdb1.database.windows.net,1433;Initial Catalog=iqansfriendsdb1;Persist Security Info=False;User ID=iqan;Password=Leesin#12;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>